**IMPORT PACKAGES**

In [5]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:

# Read the data. Visadataset.csv file has 12 cols

path=r"C:\Users\User\OneDrive\Desktop\Omkar sir\DATA files\Visadataset.csv"

In [11]:

visa_df=pd.read_csv(r"C:\Users\User\OneDrive\Desktop\Omkar sir\DATA files\Visadataset.csv")
visa_df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [13]:

cat_columns=visa_df.select_dtypes(include='object').columns
num_columns=visa_df.select_dtypes(exclude='object').columns

num_columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

**prevailing_wage**

In [15]:

visa_df['prevailing_wage']                                      # series output

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [19]:

visa_df[['prevailing_wage']]                              # dataframe output

       prevailing_wage
0             592.2029
1           83425.6500
2          122996.8600
3           83434.0300
4          149907.3900
...                ...
25475       77092.5700
25476      279174.7900
25477      146298.8500
25478       86154.7700
25479       70876.9100

[25480 rows x 1 columns]

In [17]:

visa_df.loc[:, 'prevailing_wage']                  # series output for prevailing wage

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [ ]:

visa_df.loc[:,'prevailing_wage']
visa_df.iloc[:,[8]]
visa_df['prevailing_wage']
visa_df[['prevailing_wage']]

In [19]:

visa_df.iloc[:,[8]]                           # iloc[rows:cols] where rows, cols has start:stop:step

       prevailing_wage
0             592.2029
1           83425.6500
2          122996.8600
3           83434.0300
4          149907.3900
...                ...
25475       77092.5700
25476      279174.7900
25477      146298.8500
25478       86154.7700
25479       70876.9100

[25480 rows x 1 columns]

In [21]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [23]:
visa_df[['prevailing_wage']]

       prevailing_wage
0             592.2029
1           83425.6500
2          122996.8600
3           83434.0300
4          149907.3900
...                ...
25475       77092.5700
25476      279174.7900
25477      146298.8500
25478       86154.7700
25479       70876.9100

[25480 rows x 1 columns]


- len (same as count)
- min
- max
- average or mean
-std deviation
- median value
- 25p
- 50p
- 75p

In [35]:

len(visa_df['prevailing_wage'])                 # number of wage samples in prevailing_wage col

25480

In [37]:

min(visa_df['prevailing_wage'])                  # min of prevailing wage

2.1367

In [39]:

max(visa_df['prevailing_wage'])                     # max value of prevailing wage

319210.27

In [43]:

count=len(visa_df['prevailing_wage'])            
count

25480

In [49]:

visa_df['prevailing_wage'].mean()                          # average wage

74455.81459209183

In [51]:

visa_df[['prevailing_wage']].mean()                            # average wage

prevailing_wage    74455.814592
dtype: float64

In [53]:

visa_df['prevailing_wage'].median()                             # median wage

70308.20999999999

In [55]:

visa_df[['prevailing_wage']].median()                             # median wage

prevailing_wage    70308.21
dtype: float64

In [59]:

round(visa_df['prevailing_wage'].mean(),2)                     # average wage

74455.81

In [61]:

round(visa_df['prevailing_wage'].median(),2)                      # median wage

70308.21

In [ ]:

mode is not suitable for numercal analysis

differenet observations can give same value

pandas means dataframe

**Using Numpy**

In [65]:

np.mean(visa_df['prevailing_wage'])

74455.81459209183

In [67]:

np.median(visa_df['prevailing_wage'])

70308.20999999999

**Stadard deviation**

In [72]:

round(visa_df['prevailing_wage'].std(),2)

52815.94

In [ ]:

1) To create a dtatframe of these values:

create a empty list,put all values in it

2) create aindex list=[count, min,max]

3) creata col list:  [pwage]

In [25]:

std_wage=round(visa_df['prevailing_wage'].std(),2)
std_wage

52815.94

In [ ]:

#visa_df['prevailing_wage'].mode()                             # mode is not a required thing to calculate

 # mode is the value that appears most often in a set of data values

In [29]:


count_wage=len(visa_df['prevailing_wage'])
min_wage=min(visa_df['prevailing_wage'])
max_wage=max(visa_df['prevailing_wage'])
mean_wage=round(visa_df['prevailing_wage'].mean(),2)
median_wage=round(visa_df['prevailing_wage'].median(),2)
std_wage=round(visa_df['prevailing_wage'].std(),2)

In [35]:


# summarizing all statistics terms like mean , median min, max etc from Visadatasetcsvfile into  A PANDAS DATAFRAME

# Step-1: Create a  list , keep all the values in a list
# Step-2: create a index list= ['Count','min','max']
# Step-3: create a cols list = ['pwage']


values=[count_wage,min_wage,max_wage,mean_wage,median_wage,std_wage]          # Step-1: Create a  list , keep all the values in a list

index=['count','min','max','mean','median','std']                              # Step-2: create a index list= ['Count','min','max'] 

cols=['prevailing_wage']                                                        # Step-3: create a cols list = ['pwage']

wage_df=pd.DataFrame(values,index=index,columns=cols)                    # create a pandas datframe to display count','min','max','mean','median','std'
                                                                           # and store it in a variable

wage_df                                                                  # display the variable

        prevailing_wage
count        25480.0000
min              2.1367
max         319210.2700
mean         74455.8100
median       70308.2100
std          52815.9400

In [37]:


# USING describe() WILL WORK ON NUMERIC COLS OF THE CSV FILE TO GENERATE THE REQUIRED STASTISTICAL OUTPUT

visa_df.describe()                    # this can be dne in a single shot (short-cut method) using describe() method

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [39]:


# USING VALUE_COUNTS () ON CATEGORICAL COL CONTITNENT TO GENERATE COUNT OUTPUT:

visa_df['continent'].value_counts()

continent
Asia             16861
Europe            3732
North America     3292
South America      852
Africa             551
Oceania            192
Name: count, dtype: int64


**25p-50p-75p**

**percentile**

- In numpy we have percentile 

- the method is np.percentile()

    - It takes the two arguments

    - a : array means data 

    - q value which percentile data we want , that value we need to provide

    - if we want 25p value then q=25

**quantile**

- In numpy we have quantile method

- the method is np.quantile()

 - It takes the two arguments

    - a : array means data 

    - q value which percentile data we want , that value we need to provide

    - if we want 25p value then q=0.25

    - if we want 50p value then q=0.50

In [48]:


# USING 'NUMPY' ON 'PERCENTILE() METHOD' ON 'PANDAS DATFRAME VISA_DF NUMERICAL' COLUMN 'PREVAILING_WAGE' 

# VALUE BETWEEN 0 TO 100 FOR PERCENTILE() METHOD

np.percentile(visa_df['prevailing_wage'],30)                             # CHOOSE VALUE BETWEEN 0 to 100 FOR PERCENTILE

42032.848999999995

In [50]:

np.quantile(visa_df['prevailing_wage'],0.25)                     # CHOOSE VALUE BETWEEN 0 to 1 FOR QUANTILE

34015.479999999996

In [60]:


# USING NUMPY ON PANDAS DATFRAME visa_df TO FIND 25 PERCENTILE,50 PERCENTILE AND 75 PERCENTILE VAUES ON WAGE NUMERICAL COL 


wage_25p=round(np.percentile(visa_df['prevailing_wage'],25),2)              # WAGE 25 PERCENTILE, ROUND OFF TO 2 PLACES

wage_50p=round(np.percentile(visa_df['prevailing_wage'],50),2)               # WAGE 50 PERCENTILE, ROUND OFF TO 2 PLACES

wage_75p=round(np.percentile(visa_df['prevailing_wage'],75),2)              # WAGE 75 PERCENTILE, ROUND OFF TO 2 PLACES

print("25p value is:",wage_25p)

print("\n50p value is:",wage_50p)                                                     # using \n for newline

print("\n75p value is:",wage_75p)

25p value is: 34015.48

50p value is: 70308.21

75p value is: 107735.51

In [66]:


# SUMMARIZING ALL THE ABOVE STATTISTICAL FUNCTIONS USING NUMPY FUNCTIONS:

# use visadataset.csv , extract all statistical function outputs using PANDAS BUILT-IN METHODS AND NUMPY BUILT-IN METHODS 



count_wage=len(visa_df['prevailing_wage'])                                # USING PANDAS FUNCTION len()

min_wage=min(visa_df['prevailing_wage'])                                   # USING PANDAS FUNCTION min()

max_wage=max(visa_df['prevailing_wage'])                                  # USING PANDAS FUNCTION max()

mean_wage=round(visa_df['prevailing_wage'].mean(),2)                       # USING PANDAS FUNCTION mean()

median_wage=round(visa_df['prevailing_wage'].median(),2)                      # USING PANDAS FUNCTION median()

std_wage=round(visa_df['prevailing_wage'].std(),2)                           # USING PANDAS FUNCTION std() ie standard deviation

wage_25p=round(np.percentile(visa_df['prevailing_wage'],25),2)                   # USING NUMPY FUNCTION percentile(),25

wage_50p=round(np.percentile(visa_df['prevailing_wage'],50),2)                   # USING NUMPY FUNCTION   percentile(),50

wage_75p=round(np.percentile(visa_df['prevailing_wage'],75),2)                       # USING NUMPY FUNCTION percentile(),75

values=[count_wage,min_wage,max_wage,
        mean_wage,median_wage,std_wage,wage_25p,wage_50p,wage_75p]               # store all variable outputs to a  list 'values'

index1=['count','min','max','mean','median','std','25p','50p','75p']                # store all string row headings to a list 'index1'
 
cols=['prevailing_wage']                                                # column chosen is 'prevailing_wage'

wage_df=pd.DataFrame(values,index=index1,columns=cols)                     #    STORE THE DATFRAME INTO A DATFRAME VAR    

wage_df                                                                       # DISPLAY THE DATAFRAME VAR

        prevailing_wage
count        25480.0000
min              2.1367
max         319210.2700
mean         74455.8100
median       70308.2100
std          52815.9400
25p          34015.4800
50p          70308.2100
75p         107735.5100

In [ ]:
# use for loop for above code